[2015-12-16 23:04] peterspdx opened #1 "Reintroduce complete list of FAQs within TOC, enabling jumping to particular FAQs not just sections"
Legal and others used this feature a lot, when answering info@ requests and replying to other inquiries. If this can be done through a secondary toggle (beneath the top level toggle) then that's fine, or if you have another solution. This is for both the English and the French FAQs.

[2015-12-16 23:07] peterspdx opened #2 "Insert disclaimer text just above Questions at top of FAQ -- this was dropped when moved from wiki to website"
Text:

Creative Commons does not provide legal advice. This FAQ is for informational purposes and is not a substitute for legal advice. It may not cover important issues that affect you. You should consult with your own lawyer if you have questions.

[2015-12-16 23:08] peterspdx opened #3 "Insert all links in the French FAQ"
Insert all links in the French FAQ

[2015-12-16 23:09] peterspdx opened #4 "Insert and correct formatting of tables in English FAQs"
formatting seriously messed up on one of them, and another table is missing entirely.

[2015-12-16 23:15] peterspdx opened #5 "Insert compatibility chart in French FAQ"
Source file: https://wiki.creativecommons.org/wiki/File:CC_License_Compatibility_Chart.png

It belongs in this FAQ: Puis-je combiner du matériel sous différentes licences Creative Commons dans mon œuvre?

[2015-12-16 23:20] peterspdx opened #6 "Insert translated Adapter's license chart in French FAQ"
[Tableau de licence du concédant.pdf](https://github.com/creativecommons/faq/files/64697/Tableau.de.licence.du.concedant.pdf)

Provided for purposes of showing the translation of the English text into French only, please use formatting of the existing table that's used in the English FAQ.

[2015-12-16 23:22] peterspdx opened #7 "Insert explanatory language under French version of Adapter's chart"
Abréviations
• BY = Attribution seulement
• BY-ND = Attribution - Pas de Modification -Pas de travaux dérivés
• BY-NC-ND = Pas de travaux dérivés de Paternité-NonCommercial-
• BY-NC = Attribution-NonCommercial
• BY-NC-SA = Attribution-ShareAlike NonCommercial-
• BY-SA = Attribution-ShareAlike
• PD = Dédié à ou marqué comme étant dans le domaine public par l'intermédiaire de l'un de nos outils de d

[2015-12-16 23:24] peterspdx opened #8 "Insert collection chart in French FAQ"
[Collection chart for FAQs in French.pdf](https://github.com/creativecommons/faq/files/64699/Collection.chart.for.FAQs.in.French.pdf)

Only providing for purposes of showing the translation -- should use English chart and replace with French where there is translation.

[2015-12-16 23:30] peterspdx opened #9 "Fix font sizes of headings so uniform throughout in English FAQs"
The actual FAQ question and any subsection header should be larger than the text of the answer, and the main section header still larger.

Here is an example of getting it right:

For Licensors is larger than the subsection heading "Choosing a license", and that the actual question "What things should I think about before I apply a Creative Commons license?" are larger than the text of the answer.

[2015-12-16 23:32] peterspdx opened #10 "Fix font sizes for section titles and questions so larger than text of FAQ answers"
See related issue posted separately but for English FAQs for more information.

[2015-12-16 23:33] peterspdx opened #11 "Add credit at bottom of French FAQ, as a second bullet point under Remarques"
Text:

Support for this French translation was provided by Open Data Institute as part of the OD4D program. Translation by Dr Pierre El Khoury (CC Lebanon Legal Lead).

[2015-12-16 23:36] #1 closed

[2015-12-16 23:37] mattl commented on #11
fixed in https://github.com/creativecommons/faq/commit/9133a9c8224d90eff8e838436719a04803ad46fe

[2015-12-16 23:37] #11 closed

[2015-12-16 23:38] peterspdx opened #12 "English FAQs: remove HTML coding"
(1) HTML coding showing in various places under this FAQ: If I derive or adapt material offered under a Creative Commons license, which CC license(s) can I use?  Remove and bold headings.

(2) HTML coding showing at end of the text just after Data heading (it's an :)

[2015-12-16 23:41] mattl commented on #10
The problem is that the titles are at the wrong level of headings. I think I've fixed this now

[2015-12-16 23:41] #10 closed

[2015-12-16 23:42] peterspdx opened #13 "Change font size of disclaimer at top of French FAQ so same size as the other text"
This text:  Creative Commons ne fournit pas de conseils juridiques. Cette FAQ est à titre informatif et ne constitue pas un substitut à des conseils juridiques. Elle peut ne pas porter sur des questions importantes qui vous touchent. Vous devriez consulter votre propre avocat si vous avez des questions.

[2015-12-16 23:42] mattl commented on #9
What is "For Licensors" in this case? A section heading?

[2015-12-16 23:43] mattl commented on #13
What kind of text is this? Right now we treat it like a blockquote.

[2015-12-16 23:44] peterspdx opened #14 "French FAQs: additional formatting fixes"
(1) Capitalize the word "les" at the beginning of this FAQ: les organisations gouvernementales et inter-gouvernementales peuvent-elles utiliser des licences CC ?

(2) Change font of this text so same size as text just above it: "CC offre des données sur les meilleures pratiques pour le marquage de votre matériel et sur la façon de marquer les matériels dans différents médias."

(3) Change font of

[2015-12-16 23:48] mattl commented on #14
Fixed in https://github.com/creativecommons/faq/commit/9a04b852072d41f822abfd2fc7d5a1fb20acf165

[2015-12-16 23:56] mattl commented on #14
Only 1) was done.

[2015-12-17 00:01] peterspdx opened #15 "Insert this FAQ and text just after this section heading: Des restrictions supplémentaires sur le matériel Lucency"
[it was omitted by accident]

Que faire si je reçois du matériel sous licence CC alourdit par des mesures techniques efficaces (tels que les DRM)?

Si vous avez reçu du matériel sous licence CC qui est alourdit par de mesures techniques efficaces (comme les DRM), vous pouvez être autorisés ou non, selon les circonstances, à le briser. En publiant le matériel sous une licence CC, le concédant de li

[2015-12-17 00:05] peterspdx opened #16 "French FAQ: Replace first sentence of this FAQ: Quand mon usage est considéré comme une adaptation?"
Replace first sentence with this sentence:

Une modification des éléments sous licence serait considérée comme une adaptation selon les licences CC dépendemment du droit d’auteur applicable.

[2015-12-17 00:11] peterspdx opened #17 "French FAQ: fix font size and sentence breakage"
This text: "CC ne recommande pas l'utilisation de ses" is in much larger font than the rest of the FAQ answer, and is separated from the remainder of the sentence on the next line.

[2015-12-17 00:12] peterspdx opened #18 "Insert new text (in FAQ answer font size) immediately following the section header Donnees"
Text:

Cette page remplace les Bases de Données et Creative Commons.

Une grande partie de la valeur potentielle des données profite à la société au sens large - plus de données a le potentiel de faciliter une meilleure collaboration scientifique et la reproductibilité, des marchés plus efficaces, l'augmentation de la transparence du gouvernement et des entreprises, et globalement à accélérer la d

[2015-12-17 00:23] #18 closed

[2015-12-17 00:24] #17 closed

[2015-12-17 00:28] #16 closed

[2015-12-17 00:29] #15 closed

[2015-12-17 00:32] #14 closed

[2015-12-17 00:32] #13 closed

[2015-12-17 00:34] #12 closed

[2015-12-17 00:40] mattl commented on #3
We don't have the links. The links in the original document all link to the English version.

[2015-12-17 00:43] peterspdx commented on #3
The deal with the funder was that we wouldn't translate the content at the other end of the links. But we'd still include links to the English info on the other side. Make sense?

[2015-12-17 00:45] mattl commented on #3
This will take some time, as it'll mean going through the document and reinserting them one by one.

[2015-12-17 00:48] #2 closed

[2015-12-17 01:51] #7 closed

[2015-12-17 01:52] #6 closed

[2015-12-17 01:53] #5 closed

[2015-12-17 01:54] #8 closed

[2015-12-17 01:54] #4 closed

[2015-12-17 12:50] peterspdx commented on #3
Understood, and appreciated. I alerted the funder it may be several days into next week. I can help with this also incrementally to pitch in.

[2015-12-17 12:54] peterspdx commented on #9
Yes, it was referring to the section header in the English, For Licensors.

You got this all fixed. Thanks.

[2015-12-17 12:54] #9 closed

[2015-12-17 15:16] mattl commented on #3
I'm out most of next week, so it may be early next year at this point.
On Dec 17, 2015 6:51 AM, "Diane Peters" <notifications@github.com> wrote:

[2016-02-15 15:17] peterspdx opened #19 "Fix broken links in English FAQ"
The links in this text are broken (see bolded, italicized text where links exist but are broken):

If you're looking for legal advice about using CC licenses and other tools, we recommend contacting the **_Creative Commons affiliate in your jurisdiction_**. CC affiliates are highly connected to the communities of copyright lawyers in their countries. We also offer a **_list of lawyers and organiza

[2016-02-15 16:31] mmoreshead commented on #19
Hey Diane, it's a known issue, lots of broken links in there, I'm working my way through them (slowly).  You can see here: https://github.com/creativecommons/creativecommons.org/issues/197

[2016-02-15 16:31] #19 closed

[2017-07-20 19:43] peterspdx opened #20 "Move disclaimer language to top of page, above expanded contents"
https://creativecommons.org/faq/

The disclaimer should remain at the top of the page, even when someone is viewing a full table of contents of all FAQs.

[2018-03-10 04:44] gho87 opened #21 "Some links at FAQ page broken and need to be fixed/replaced"
The FAQ page (https://creativecommons.org/faq/) has some or many broken links.

* Broken link: https://creativecommons.org/faq/#What_is_copyright_and_why_does_it_matter
  - Source: "[What does 'Some Rights Reserved' mean?](https://creativecommons.org/faq/#what-does-some-rights-reserved-mean)" section and "[What are Creative Commons licenses?](https://creativecommons.org/faq/#what-are-creative-comm

[2019-01-24 12:05] peterspdx commented on #20
This appears to have been completed.

[2019-01-24 12:05] #20 closed

[2019-04-02 14:01] #21 closed

[2019-04-05 19:33] claudioruiz opened #25 "Remove references to CC Affiliates"
There's a lot of references to the Affiliates and we should change that for a language more connected with the CC Network.

@simeonoriko can work on updating information there regarding CC Chapters and Network Platforms

[2019-04-05 19:34] claudioruiz opened #26 "Change references to Search"
FAQ has a lot of references to the search as `search.creativecommons.org`, should it point to the new ccsearch?

[2019-04-05 20:06] kgodey commented on #26
No, we're still in beta until the end of April. We'll be redirecting search.creativecommons.org to the new CC Search once we finish the next two sprints.

[2019-04-05 20:06] #26 closed

[2019-04-05 20:07] kgodey commented on #25
Please update the repo and make a pull request, we'll merge and deploy changes.

[2019-04-29 21:49] kgodey opened #28 "Broken FAQ link: considerations for licensors and licensees"
From message received on website:

[2019-05-03 18:30] #28 closed

[2019-05-03 20:02] akmadian opened #29 "Move links in toc into <details> tags to make page more user friendly"
**Is your feature request related to a problem? Please describe.**
This isn't necessarily a problem, just something I think would be a good change. The FAQ page has a lot of links at the top, and they're all packed together. I think it would be more user friendly to separate them into `<details>` elements, and allow them to drop down instead of having all visible, all the time. This would (in my o

[2019-05-03 20:20] akmadian commented on #29
I'm not sure if this is possible or not because of how the page is built, because the toc is generated, then injected into the html. This would have to be done within the build process, and (as far as I can tell) depends on whether pandoc offers this feature, sadly, I haven't been able to find anything like this so far.

I suppose it would be possible to inject the details tags after pandoc runs t

[2019-09-21 05:01] kgodey opened #30 "Create page with 10 most important FAQs"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Review CC’s FAQs and design a user friendly page that incorporates what you believe to be the ten most important ones. Make a new folder in this repository with your HTML and CSS files and submit it as a pull request.

Usage of [CC V

[2019-09-21 05:05] kgodey opened #31 "Recommend open source knowledge base software"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Research open source knowledge base software and write up a set of recommendations about what you think CC should be using. Post your recommendations here.

[2019-09-21 05:07] kgodey opened #32 "Identify instances of excellent FAQs"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Identify ten instances of excellent FAQs that exist on other organizations’ or companies’ websites. Post your research here.

[2019-09-21 05:08] kgodey opened #33 "Create a short video answering an FAQ"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Create a short video (which does not have to be fancy!) that answers a particularly important CC FAQ. Post the link to your video here.

[2019-09-21 05:09] kgodey opened #34 "Demo knowledge base software"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
Enter some of CC’s FAQs into a knowledge base software so that they can be searched by keywords. Please make clear that it is not official CC FAQs and just a test project. Post the link to this knowledge base here.

[2019-09-21 07:01] kgodey opened #35 "Revise a page on the CC public wiki"
_This is an Outreachy contribution task. Multiple people may complete this task, it will not be closed until the Outreachy winter 2019 contribution period ends._

---
The [Creative Commons Wiki](https://wiki.creativecommons.org/) has a lot of old/inaccurate content. Revise one wiki page and post a link to your contribution here. Please ask questions about any content you are unsure of.

To get edi

[2019-10-02 04:50] alexiaOkarabi commented on #35
Hello @kgodey I have signup using the link you provided above. Would love to work on this issue.

[2019-10-02 09:42] cthomas88 commented on #30
I would like to assist with this project if possible, I have created some wonderful looking FAQ sections on my own websites and think I could assist quite well here. Carlie, UK based Outreachy intern applicant.

[2019-10-02 09:54] cthomas88 commented on #32
1. https://pythonpro.co.uk/Services - This website was created by me, using a simple click and drop method with Bootstrap

2. https://help.twitter.com/en - Twitter has a great FAQ section, with image manipulation as you scroll down the page

3. https://support.google.com/youtube/?hl=en-GB#topic=9257498 - YouTube has an FAQ similar to the Python Pro page, with an accordion style Answer section

4.

[2019-10-02 15:05] kgodey commented on #30
Sounds great!

[2019-10-02 15:10] kgodey commented on #35
@alexiaOkarabi please tell me what your CCID is so that I can give you edit permissions.

[2019-10-02 17:49] mmoreshead commented on #32
Hey @cthomas88 - some of these are really nice, I especially like the WhatsApp one! One important aspect of CC's FAQ is the ability to point to one Q and share the link so some of the accordion ones like Nintendo look cool but we likely need a bit more functionality.

A lot of the folks who come to our FAQ don't actually know what their question is (or the question can be asked in many ways) and o

[2019-10-02 18:15] mchesler613 commented on #35
I also have a CCID msc2019, @kgodey

[2019-10-02 19:01] mmoreshead commented on #35
Hi @mchesler613 - I've approved your wiki account so you can start editing!

[2019-10-02 19:30] clc80 commented on #25
Hello,
This is an issue that still needs to be be worked on?

[2019-10-02 20:07] kgodey commented on #25
Yes but I'm not sure if it's open to non-CC staff, @claudioruiz?

[2019-10-02 20:32] claudioruiz commented on #25
It's not necessary.

[2019-10-02 20:32] #25 closed

[2019-10-02 21:17] mchesler613 commented on #34
@kgodey Hi, are we restricted to free versions of this knowledge base software, or can use a free-trial version of commercial software?  Thanks.

[2019-10-02 22:55] mchesler613 commented on #34
Hi @kgodey, I have created a Knowledge Base software on my domain and installed several FAQs under different headings.  Please take a look, http://moriahweb.com/cc.  The site is searchable and I have also tested the headings using AP-style titling here, https://capitalizemytitle.com/#.  Please check it out and let me know if you want more FAQs in there.  This site is not backed up.

[2019-10-02 23:07] tyanastone commented on #32
1. [TUI](https://www.tui.co.uk/destinations/faq): I really like the grid layout of this FAQ page along with being able to click on the individual questions under each category. I like the search function as well I typed in "Book a flight" and the results were a list of common questions pertaining to booking a flight.

2. [Fat Face](https://us.fatface.com/help-center/frequently-asked-questions.html

[2019-10-02 23:16] mchesler613 commented on #31
Does CC have a budget in mind? That will help narrow down the choices.  :)

[2019-10-03 01:09] thelittleveggiekorean commented on #30
Hello. I am Chohee, an Outreachy applicant. I Would love to work on this project :)

[2019-10-03 06:35] mbengtanyi commented on #30
Hello @kgodey
I'd like to contribute to this issue.
Is it obligatory to use the standard cc faq template for this?

[2019-10-03 14:32] ifylala commented on #33
Hi @kgodey here is the link to the short video I created https://promo.com/share/5d95fd538dad8e528c6dbd40?utm_source=v1_shareDialog2_copy

[2019-10-03 14:38] ifylala commented on #3
Hello @kgodey I am an Outreachy applicant. I would love to work on this issue.

[2019-10-03 14:41] mmoreshead commented on #3
I'm not sure this is suitable for an Outreachy project given that the English FAQ is likely going to get a redesign. This isn't a great issue to take on until that is done.

[2019-10-03 14:56] ifylala commented on #30
Hello I am Ify an Outreachy applicant, I would also love to work on this issue

[2019-10-03 14:57] mmoreshead commented on #30
@mbengtanyi - there is no need to stick to the standard template, we're happy to see whatever you wish to create!

[2019-10-03 15:05] mmoreshead commented on #32
Hi @tyanastone !  Thanks for these - a few of these are a lot like our current FAQ's (Zappos, for instance). See my comments from yesterday for some suggestions and do take a look at our own FAQ to see what we're already doing if you haven't already https://creativecommons.org/faq/

[2019-10-03 15:09] kgodey commented on #3
This ticket is not tagged "help wanted" or "outreachy" and is not suitable for contribution.

[2019-10-03 15:10] kgodey commented on #30
Everyone – go ahead and work on the issue and submit a PR.

[2019-10-03 15:10] ifylala commented on #3
Thanks so much @kgodey

[2019-10-03 15:21] cthomas88 commented on #30
If we feel we could recreate all of the questions in a concise and easy to use format would that be ok, rather than narrow down to 10? It would be easier for the client if their question was accessible rather than only a few.

[2019-10-03 15:29] cthomas88 commented on #29
I think the adaptations I have made locally to the FAQ page on Creative Commons May solve this issue. I’ll be submitting it as a pull request within the next 12 hours

[2019-10-03 15:31] kryptosjay-code commented on #32
1.    https://faq.whatsapp.com/ - Whatsapp has a great theme and a nice color combination, which makes the site elegant to behold and they categories their questions under a simple main heading which makes it easier to use, then the How can we help you? Title is lovely because once you open the page you already know what it is for. The search button is more like an icing to the page
2.    https://

[2019-10-03 15:47] kgodey commented on #31
We would prefer something free and open source than we can self-host. Something that integrates into WordPress would work too since the main CC website is built in WordPress.

[2019-10-03 16:24] mchesler613 commented on #31
Hi @kgodey, I have created a Knowledge Base software powered by phpMyFAQ on my personal domain and installed several FAQs under different headings. Please take a look, http://moriahweb.com/cc. The site is searchable and I have also edited the FAQ headings using AP-style titling here, https://capitalizemytitle.com/#. Please check it out and let me know if you want more FAQs in there. This site is n

[2019-10-03 18:36] kgodey commented on #31
@mmoreshead @ericsteuer

[2019-10-03 18:39] kgodey commented on #30
The idea behind this task was to make a smaller task without you having to do all the work of porting the full FAQ if we didn't go with the solution proposed. If you'd like to do more than 10, go ahead, but keep in mind we may not use your work.

[2019-10-04 00:46] tyanastone commented on #32
@mmoreshead Thanks, would you like me to revise some of my suggestions with different websites?

[2019-10-04 01:07] tyanastone commented on #35
Hello, I created an account. My CCID is **tyana**

[2019-10-04 05:57] mbengtanyi commented on #32
[Instances of excellent faqs](https://drive.google.com/open?id=13ADT-RDema7mcq8ubkY5F9NdmtkbNxBt)

[2019-10-04 12:30] Ledicodes commented on #32
1. [Vimeo](vimeo.zendesk.com/hc/en-us)

[2019-10-04 12:55] kryptosjay-code commented on #33
hello @kgodey here is a link to CC FAQ short video I created
https://www.renderforest.com/watch-21266447?queue=17615790&utm_source=email&utm_medium=export&utm_campaign=export_finished_email_thumb

[2019-10-04 13:56] Ledicodes commented on #32
1. [Vimeo](vimeo.zendesk.com/hc/en-us): The layout of Vimeo FAQ page is quite impressive, there is also a large search bar at the header which makes navigation through the FAQs really easy.
2. [Spotify](support.sportify.com/uk): This FAQ is simple and quite organized, easy to go through each FAQ topic as it does not only answer the question of what but also the how of a frequently asked question.

[2019-10-07 07:26] Angelvicks commented on #35
Hello @kgodey , am an outreachy applicant and  i will to contribute to work on this issue. My CCID is angetaffo

[2019-10-07 14:10] RegMWilson commented on #35
Hi I am an Outreachy applicant. I would love to be involved in this issue and I have created a CCID: **RegIsFred**     Looking forward to being involved.

[2019-10-07 15:22] mchesler613 commented on #31
@kgodey @mmoreshead @ericsteuer I installed a Wordpress site and am experimenting with a few free  Knowledge Base plugins and will demo what I have soon.

[2019-10-07 17:18] chidexebere commented on #30
Hello @kgodey , I am an Outreachy applicant and would love to contribute to this project. I know Creative Commons uses Vue as stated in the CC Vocabulary  but I wanted to clarify if I can use any other JS library or framework for this task

[2019-10-07 17:30] Angelvicks commented on #35
I succeeded in revising one wiki page, i mostly revise the French section since it was still in English while the title there was French. The link is below, https://wiki.creativecommons.org/wiki/Translate/Global_Network_Strategy

[2019-10-07 19:05] kgodey commented on #30
@chidexebere for this task, you can use any JS library or framework since this is just a demonstration of your skills but we recommend integration with CC Vocabulary

[2019-10-08 10:10] cthomas88 commented on #31
I have done some extensive research over the last few days, looking into different knowledge based softwares, and educating myself on what they are and how they can be used, which I found interesting. I have found three that stood out for me, two that are free and one that is not to give a wide spectrum of what is on offer for Creative Commons. I hope it is of some use to you.

**_Documize_** - Do

[2019-10-08 12:52] stephaniiii commented on #30
Hello @kgodey
I'd like to contribute to this issue.
If it is possible.

[2019-10-08 13:19] mchesler613 commented on #31
@cthomas88  phpMyFAQ, although is php-based, does not integrate with Wordpress.  There is no plugin available for it for Wordpress.  I  have one already running here: http://moriahweb.com/cc. It is quite solid and easy to use.  Please take a look.

[2019-10-08 16:05] kgodey commented on #30
go ahead

[2019-10-09 09:47] Rubaaw commented on #35
Hello @kgodey
Would love to work on this issue, my CCID is **Ruba**

[2019-10-09 10:29] thelittleveggiekorean commented on #30
Hi @kgodey I've got a question on this issue :) I saw there are lots of questions that seem to important for many users. Should I make a page which only shows up the the most important 10 questions? or shows the other questions too in one page?

[2019-10-09 11:53] thelittleveggiekorean commented on #32
1. https://www.revolut.com/help

: They organised questions in 6 groups with an icon so that users can easily find where to find their answers.  And I like their search bar that shows relative questions down below with the keyword which user is typing

2. https://help.instagram.com/

: Instagram showed me what does ‘Simpler is better’ Once you click the question on the left side, it showed more sp

[2019-10-09 15:27] tyanastone commented on #33
@kgodey  @mmoreshead Here is the link to the video I've created. It's on YouTube as unlisted so only people with the link can view it. It's not public. For future videos, I would like to add a voice-over to read the question and answers.

[CC FAQ VIDEO](https://youtu.be/zsr96ktpmv0)

[2019-10-09 15:32] kgodey commented on #30
@thelittleveggiekorean Pick 10 that seem important to you

[2019-10-09 18:50] IvetaHron commented on #35
Hello @kgodey, I am Outreachy applicant and I would like to work on this issue. My CCID is iveta.

[2019-10-09 18:57] mmoreshead commented on #35
@IvetaHron and @Rubaaw - you will need to log into the wiki once before I can give you permissions to edit the wiki. Can you let me know once you've done that?

@Angelvicks @RegMWilson @tyanastone -- you're all good to go.

[2019-10-09 19:01] mmoreshead commented on #33
Fun videos, everyone!

[2019-10-09 19:46] Rubaaw commented on #35
@mmoreshead yes im already signed in :D

[2019-10-09 19:51] mmoreshead commented on #33
Have you thought about using CC licensed images or music in your videos?

[2019-10-09 22:51] mmoreshead commented on #35
@Rubaaw when you are logged in, can you confirm for me what is up on the right top corner of the page?

[2019-10-10 00:35] mbengtanyi commented on #35
Revised the [documentation wiki page](https://wiki.creativecommons.org/wiki/Documentation).
- Added link to wiki signup.
- Took out redundant data and dead links about CC Learns.
- Included information about CC Education/OER.
- Minor fixes: punctuation.
[Documentation history](https://wiki.creativecommons.org/index.php?title=Documentation&action=history)

[2019-10-10 02:21] Rubaaw commented on #35
CCID-Ruba  Talk  Preferences  Watchlist  contributions. LOG OUT.

[2019-10-10 07:45] moreinob commented on #35
Hi @kgodey, I would love to contribute on this. My CCID is moreinob. Thanks

[2019-10-10 08:39] Angelvicks commented on #35
Hello, I did some punctuation and grammar update on this page https://wiki.creativecommons.org/wiki/Developers

[2019-10-10 08:47] ifylala commented on #33
Nice suggestion @mmoreshead I'd try adding that. Thanks for the tips

[2019-10-10 09:00] Rubaaw commented on #32
1. [Whatsapp](https://faq.whatsapp.com/):
I like this FAQs so much; the green color scheme is amazing and relaxing, easy to navigate, well divided to sections and categories, there’s a clear search bar at the top, the answer is shown in a simple and clear way.
2. [Royal Jordanian](https://rj.com/en/unused-items/learn-more/faq)
The categories are organized through a drop-down menu, choosing the des

[2019-10-10 10:05] kryptosjay-code commented on #33
that actually didnt cross my mind but let me try that now

@mmoreshead that didn't cross my mind let me try that now, thanks for the heads up

[2019-10-10 12:58] mmoreshead commented on #35
@Rubaaw & @IvetaHron  - great, you have edit permission now.

@moreinob can I ask you to log into the wiki one more time? I can't see your CCID yet and sometimes it takes an additional log in.

[2019-10-10 13:32] mmoreshead commented on #32
Thanks for all these, everyone! The best way to make a good FAQ is to look at other good examples - this kind of research is important!

@Ledicodes many of your links don't work :(

[2019-10-10 14:16] moreinob commented on #35
@mmoreshead my CCID is moreinouma not moreinob, I mistakenly used my ID here. Please use moreinouma

[2019-10-10 15:03] mmoreshead commented on #35
ok @moreinob - I have updated your permissions!

[2019-10-10 16:44] Ledicodes commented on #32
That was quite a mistake @mmoreshead they work now

[2019-10-10 21:40] Rubaaw commented on #35
Hello,
So i was revising and reading the wiki, there is [OER wiki ](https://wiki.creativecommons.org/wiki/OER) that has only a link redirecting to [https://creativecommons.org/education](https://creativecommons.org/education)
Are we allowed to add new content to the wiki ? or just revising the existed content ?

[2019-10-11 02:57] mbengtanyi commented on #31
In addition to the other open source knowledge base software already listed here like Documize, eXo, and the popular phpMyFAQ, I also came across OpenKM.
 I have not used it yet, but from my research, it integrates with Wordpress.
OpenKM apparently also comes with simplicity and ease of maintenance over time. Although [here](https://www.betterbuys.com/dms/reviews/openkm/) it is said that the commu

[2019-10-11 09:40] Rubaaw commented on #35
I have revised [Translate Wiki page](https://wiki.creativecommons.org/wiki/Translate).

- Reorder the table Format (Lang. Column width)
- Added hyperlinks to the Languages.
- Added missing languages with links
- Removed dead links

[2019-10-11 14:18] tyanastone commented on #33
@mmoreshead CC was one of the many places I tried searching because I initially wanted to use different software to make the video, but I wasn't able to find the specific type of animations I was looking for on the CC site, I may just need better practice with searching through the site though.

[2019-10-11 16:36] Angelvicks commented on #35
I have this page https://wiki.creativecommons.org/wiki/Translate/Documentation#CC_Learn_Productions
I removed dead links.

[2019-10-11 18:36] mmoreshead commented on #33
@tyanastone there are lots of sites that host CC licensed material, not just cc.org!

[2019-10-11 20:59] moshinaakter commented on #30
Hello Kgodey, I am Moshina an Outreachy applicant, I would love to work on this issue.

[2019-10-12 00:22] kgodey commented on #30
@moshinaakter go ahead

[2019-10-12 00:32] kgodey commented on #31
@mchesler613 @cthomas88 @mbengtanyi thank you for your research! I don't have a lot of specific feedback but all this research seems like it will be very useful for whatever course of action you choose to recommend in your final application.

A couple of general things:
(1) We definitely want something that's as easy to manage for non-technical folks as possible as that's as geared towards FAQs as

[2019-10-12 00:33] kgodey commented on #32
Thank you everyone! I don't have a lot of specific feedback but your research will be very useful to you as you write your final application for this project :)

[2019-10-12 00:39] kgodey commented on #33
@ifylala @kryptosjay-code @tyanastone those are fun videos, good effort! However, the aim of this task is to create an informative video that answers a question from our FAQ: https://creativecommons.org/faq/ and should contain the full information from one of our FAQs. I would recommend emphasizing content over style.

[2019-10-12 00:41] kgodey commented on #34
@mchesler613 Thank you, looks good to me. I don't have specific feedback, the purpose of this task was as partial research for the final application.

[2019-10-12 00:42] kgodey commented on #35
thank you for your contributions, everyone!

[2019-10-13 15:22] AndrejaP commented on #33
Hello! I'm glad to have done this task because I discovered a new passion :). I came here to post my videos and then I read that they should contain the full information from one of the FAQ  :O. I adjusted one of them and now it contains the full answer from the CC website to the question: Can I take a CC-licensed work and use it in a different format? Here is the link: https://www.youtube.com/wat

[2019-10-13 17:43] mmoreshead commented on #33
Hey @tyanastone -- there are many many websites that host CC licensed content. Try vimeo or the internet archive or soundcloud or the free music archive!

[2019-10-13 20:53] gabrielassena commented on #35
Hello, my name is Gabriela and I'm a Outreachy applicant and I will be glad to make a contribution to this project, I created my CCID(gabrielassena), can you please get me edit permission

Thanks

[2019-10-14 14:03] moreinob commented on #32
After careful comparison with the current CC FAQ, I would like to mention these ten

1. Whatsapp
https://faq.whatsapp.com
It's bright, easy to use and categorized for quick desktop or mobile use. But then, this is an application and often times when people come here, they already know what they are looking for. I don't think this model would work for CC because from the way the questions were stru

[2019-10-14 15:13] mmoreshead commented on #35
Hi @gabrielassena - you will need to log into the wiki one more time before your CCID can be approved. Please log in and confirm here afterwards.

[2019-10-15 11:59] gabrielassena commented on #35
Hi @mmoreshead - I logged in again, I think the CCID is available for approval.
Tks.

[2019-10-15 12:46] mmoreshead commented on #35
Perfect, you have permissions now @gabrielassena

[2019-10-15 16:34] mbengtanyi commented on #31
Thanks for the feedback.

[2019-10-16 07:46] ifylala commented on #30
@kgodey Here is the url to the deployment I made on github pages
https://ifylala.github.io/CreativeCommonFaq kindly review

[2019-10-16 16:39] ifylala commented on #33
@kgodey @mmoreshead kindly check the video I created https://www.renderforest.comwatch-21455598

[2019-10-16 16:44] ifylala commented on #33
@kgodey @mmoreshead  Kindly review https://www.youtube.com/watch?v=vmHy6RVwltQ&feature=youtu.be

[2019-10-17 05:15] GettyOrawo commented on #35
Hey, I just signed up and I don't understand what exactly is my CCID. Some help please?

[2019-10-17 19:37] chidexebere commented on #32
My selection of excellent instances of FAQs are based  majorly on the following:

A. Every FAQ should have a search bar where users can easily look up questions and get answers immediately. I feel this is the most important criterion.

B. Users do not have to scroll multiple times to read through search results. Most of these instances used an accordion.

C. The results or answers the users get fr

[2019-10-18 20:45] annatuma commented on #32
Thanks @moreinob and @chidexebere for your research. We're looking forward to seeing this research referenced in the final project application.

[2019-10-18 20:54] annatuma commented on #35
@GettyOrawo have you been able to log into the Wiki yet? I assume you signed up [here](https://login.creativecommons.org/register.php) for a CCID. You'll need to log in at least once before @mmoreshead can approve your CCID for edit permissions.

[2019-10-18 20:55] mmoreshead commented on #35
@GettyOrawo when you log into the wiki, you can see your CCID on the top right side.

[2019-10-18 21:25] annatuma commented on #33
@ifylala the video is listed as private, I recommend making it viewable but unlisted, as @tyanastone did.

@AndrejaP thanks for your submission. I'd suggest thinking about how much and how easily someone viewing the video can learn. While graphics and music are great, a simpler approach may be more meaningful. That said, I'm sure this task has given you plenty of things to think about regarding th

[2019-10-18 21:28] annatuma commented on #30
@ifylala thank you for contributing, that's an interesting layout! Definitely include some of your design ideas and rationale in your upcoming final application for the project.

[2019-10-18 23:01] ifylala commented on #30
Thanks for the feedback @annatuma . Does it mean i have successfully contributed to this issue?

[2019-10-18 23:02] ifylala commented on #33
@annatuma I have made made it viewable. kindly review.

[2019-10-19 04:30] AndrejaP commented on #33
@annatuma thanks a lot for the feedback. I see your point. I should focus more on user experience.

[2019-10-19 12:01] Jethet commented on #35
@kgodey My CCID is Jethet. I would like to contribute to the wiki. Re. the process: do I just pick a page myself or do you assign pages?

[2019-10-20 16:22] mmoreshead commented on #35
@Jethet I just approved your account.

[2019-10-20 16:33] Jethet commented on #35
Thank you @mmoreshead . I am new to your way of working so it would be great to get a bit more explanation about what to do next. Thanks!

[2019-10-21 08:01] Jethet commented on #35
@mmoreshead  More specifically: is this the information we need to adhere to? https://github.com/creativecommons/cc-resource-archive and https://github.com/creativecommons/cc-resource-archive/blob/master/resourcetemplate.md

[2019-10-21 10:49] Jethet commented on #35
@mmoreshead  Could you have a look to see if this is in line with what is expected:
https://wiki.creativecommons.org/wiki/Wiki

[2019-10-21 12:41] mmoreshead commented on #35
@Jethet simply edit a page, no need to do anything complicated.

[2019-10-21 18:21] kgodey commented on #30
@ifylala yes!

[2019-10-22 04:40] GettyOrawo commented on #35
![Screenshot from 2019-10-22 07-37-38](https://user-images.githubusercontent.com/17080976/67259547-145b0e80-f49f-11e9-8579-1de47e6f5d70.png)

Here's the page I'm bumping into once I log in. Sorry, so what exactly is my CCID?

[2019-10-22 13:06] mmoreshead commented on #35
@GettyOrawo that's the login page, the info I'm looking for is on the wiki itself (when you are logged in) https://wiki.creativecommons.org/wiki/Main_Page  -- What does it say after CCID on the top right side there when you are logged in?

[2019-10-22 16:08] Jethet commented on #35
@mmoreshead  I am revising this page https://wiki.creativecommons.org/wiki/Data. Under the third question of the section _Frequently asked questions about data and CC licenses_ it says:

Are there guidelines for the use of her/his/their and she/he/them in the CC wiki?

[2019-10-22 19:22] mmoreshead commented on #35
@Jethet No, at this time there are no guidelines.

[2019-10-23 10:30] Jethet commented on #35
@mmoreshead  I have revised https://wiki.creativecommons.org/wiki/Data.
The main edits aim to:

1. Clarify the text, avoid using words such as 'notwithstanding' and 'however
2. Increase readability by breaking up long sentences into two proper sentences
3. Solve unclear sentences such as

Some very specific text such as "bright line test" have been replaced by text that will be better understood b

[2019-10-23 11:24] Jethet commented on #35
@mmoreshead
I am editing the page regarding the OER project (https://wiki.creativecommons.org/wiki/OER_Project) and have added a general explanation of what OER means, linking it to another page of the CC wiki with more information.

In the current text on the page for the OER Project, it says:

The 'project' part of the OER Project is not explained anywhere. Where can I find information about the

[2019-10-24 13:52] ifylala commented on #33
@kgodey @mmoreshead Kindly review https://www.youtube.com/watch?v=vmHy6RVwltQ&feature=youtu.be

[2019-10-24 20:48] mmoreshead commented on #35
@Jethet This would be a very good example of a page that is so long out of date that it's probably not worth updating. Maybe try another page?

[2019-10-24 21:44] kgodey commented on #33
@ifylala thank you for contributing! I have similar feedback as @annatuma had for @AndrejaP – I'd suggest thinking more about the user experience of someone learning about CC through the video. It would be great if the video focused more on explaining the answer rather than showing the same text as the FAQ with graphics and music. However, this counts as your contribution and we hope that it helps

[2019-10-25 07:09] Jethet commented on #35
Thank you. I will leave it at that.

[2019-10-25 09:16] edd0408 opened #44 "@edd0408"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-25 20:01] moshinaakter commented on #30
@kgodey this is my initial contribution of Creative Commons 10 most important FAQs which I made on github page.  Please review the URL below.
https://moshinaakter.github.io/CC-FAQ-Template/

[2019-10-25 22:48] ericsteuer commented on #31
Looks good. Looking forward to seeing your final application. Thanks.

On Fri, Oct 25, 2019 at 2:16 AM edd0408 <notifications@github.com> wrote:

[2019-10-28 11:39] GettyOrawo commented on #35
my CCID is Getty Orawo could I kindly get permissions to edit? Thank you

[2019-10-28 12:41] GettyOrawo commented on #32
I chose my Best FAQ instances bearing in mind an interface that I feel happy interacting with. Whenever you are stuck and need to single out one question from a million FAQs it should't be another hurdle to search through the Qs. The following FAQ instances have displayed simplicity at its best while still spouting helpful information.

* **YouTube**
Youtube's FAQ page displays the questions and a

[2019-10-28 16:51] moshinaakter commented on #30
Hello Kgodey what will be the next steep for me, pls tell. Now Can I apply for Record contribution and Final Application or any more work i need to be complete as an Outreacy intern applicant?
Thanks

[2019-10-28 20:47] kgodey commented on #30
Nice work @moshinaakter! You can record that as a contribution and start work on your final application, as we discussed on Slack.

[2019-10-28 22:53] moshinaakter commented on #30
Ok thanks for your feedback @kgodey
I will proceed for next steep asap.

[2019-10-28 23:21] mmoreshead commented on #35
@GettyOrawo there are no spaces in a CCID. As I already said, log into the wiki and tell me what it says after CCID on the top right side.

[2019-10-28 23:23] mmoreshead commented on #32
Good work, @GettyOrawo!

[2019-10-29 09:35] moreinob commented on #33
This video answers the question "what is creative commons"
https://m.facebook.com/story.php?story_fbid=2378324619098878&id=1885614538369891

[2019-10-29 10:40] GettyOrawo commented on #32
Thank you. :slightly_smiling_face:

[2019-10-29 22:52] kgodey commented on #33
Nice work @moreinob! I like the narration. I hope that your contribution helps in your Outreachy final application, let us know if you have any questions about the project.

[2019-10-30 19:57] GettyOrawo commented on #35
Hey @mmoreshead sorry but it honestly says Getty Orawo unless I am to add an underscore?

![Screenshot from 2019-10-30 22-53-49](https://user-images.githubusercontent.com/17080976/67893865-7c2ceb80-fb68-11e9-9029-8489db5a45e6.png)
![Screenshot from 2019-10-30 22-54-52](https://user-images.githubusercontent.com/17080976/67893867-7cc58200-fb68-11e9-8a9f-ef2091a92d91.png)

[2019-10-30 19:59] GettyOrawo commented on #35
This is the URL when I click on the CCID, could be the correct CCID maybe? **https://wiki.creativecommons.org/wiki/User:CCID-Getty_Orawo**

[2019-10-30 20:16] mmoreshead commented on #35
@GettyOrawo your account is approved now

[2019-10-30 20:19] GettyOrawo commented on #35
Thank you much.

[2019-11-01 16:09] monique1087 commented on #35
Hello, @mmoreshead and @kgodey ! I would love to contribute with this project. I already make an account at the CCID and just have to approve 👍  I want to translate to portuguese/br the "CC network". Can I do that, please? ^^

[2019-11-04 16:32] mmoreshead commented on #35
@monique1087 What is your CCID? Log into the wiki and look up in the right hand corner.

[2019-11-05 03:49] GettyOrawo commented on #35
Hey Team. I revamped the Case studies Wiki. Taking into account that the information provided was not enough to make someone intrigued to contribute to the betterment of the case studies, I added more detailed descriptions on how to contribute and a brief preview of what the book by CC Australia is about.
https://wiki.creativecommons.org/wiki/Case_Studies

![Screenshot from 2019-11-05 06-48-23](ht

[2019-11-05 04:52] GettyOrawo commented on #33
Hello. :slightly_smiling_face:  Here's  my video answering the question "Where can I find material offered under a CC Licence"
https://promo.com/share/5dc0fb628dad8e2da65f93f4?utm_source=v1_shareDialog2_copy

[2019-11-05 19:36] kgodey commented on #33
Nice work @GettyOrawo!

[2019-11-08 07:26] kgodey commented on #35
@GettyOrawo looks good, thank you!

[2019-11-11 23:48] mbengtanyi commented on #33
For some reason, I interpreted this issue to mean an actual person literally talking about a particular FAQ. I see it differently now from the contributions already made here.

[2019-11-12 00:41] kgodey commented on #33
@mbengtanyi an actual person literally talking about an actual FAQ would be great.

[2019-11-14 16:36] BrElio commented on #31
Hi there!
I am the lead developer of [BasePress Knowledge Base](https://codesavory.com/) which was mentioned by @mchesler613 as an option for CC's website.
If you are interested in using our knowledge base plugin I'll be more than happy to help customising the look to fit CC's website.
If you have anything you would like to ask please don't hesitate to [contact us](https://codesavory.com/contact-u

[2019-11-14 23:25] kgodey commented on #31
thank you @BrElio! We haven't decided which software to use yet, but we'll definitely be in touch as we do so.

[2019-11-27 23:42] kgodey commented on #35
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:42] #35 closed

[2019-11-27 23:43] kgodey commented on #34
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:43] #34 closed

[2019-11-27 23:43] kgodey commented on #33
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:43] #33 closed

[2019-11-27 23:43] kgodey commented on #32
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:43] #32 closed

[2019-11-27 23:44] kgodey commented on #31
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:44] #31 closed

[2019-11-27 23:44] kgodey commented on #30
Since the Outreachy application period is over, I'm going to close this issue.

[2019-11-27 23:44] #30 closed

[2019-12-20 23:57] kgodey opened #46 "Broken link in FAQ"
Email from user:

[2019-12-21 00:16] peterspdx commented on #46
We want it to match the link from the legal code for 4.0, which at present is: https://wiki.creativecommons.org/wiki/Considerations_for_licensors_and_licensees#Considerations_for_licensors

We have talked about moving this very important page to the main side in wp, but unsure if that was fully completed. If so (i.e., the text is the same), then this requires changing the links in the prefaces to

[2019-12-23 20:59] sarahpearson commented on #46
I agree. For now, the link in the FAQ should point to https://wiki.creativecommons.org/wiki/Considerations_for_licensors_and_licensees#Considerations_for_licensors

As Diane indicates, we eventually want that page moved to WordPress and have talked about doing that for a long time. I am not sure who would handle that sort of task. If it is as simple as making a new Wordpress page, I can certainly

[2020-01-03 17:02] #46 closed

[2020-01-15 22:05] aucampia opened #47 "Clarify some points in light of CC0"
## Problem Description

I know the CC0 has it's own FAQ - but some phrases in the FAQ is unclear to me at least on whether they apply to CC0 or not.

I'm no lawyer, and I don't quite know if dual-licensing of CC0 is possible or not or if the public domain dedication is exclusive or not. I think if the text above does not apply to CC0 (which I think it may not) then it should be made clearer.

## P

[2020-01-16 22:44] sarahpearson commented on #47
Thank you for raising this. CC0 is not a license (or to be more precise, it is a license if and only if the public domain dedication is unenforceable in a given jurisdiction). That means it does not operate in the same way as the licenses in this regard. If CC0 is applied to a work, the work is no longer subject to copyright, so it wouldn't be appropriate to apply a CC license to it. We will updat

[2020-02-27 00:59] Parimal7 commented on #29
Hi can I work on this issue?

[2020-03-07 09:27] Abbas-000 commented on #47
I am an outreachy applicant can I work on this?

[2020-03-09 19:14] sarahpearson commented on #47
Thanks, but this one will have to be handled by CC's legal department.

[2020-03-18 15:14] cangreja533 commented on #29
Hi, i'm a internship applicant outreachy. I can I work on this issue?

[2020-07-09 16:28] sarahpearson opened #51 "Add new q&a to FAQ page"
We have a new q&a to add to the FAQ page: https://creativecommons.org/faq/

The text, which has been approved by Legal, is in this doc: [TOS faq - Google Docs](https://docs.google.com/document/d/1c40Z7hUwIaRtRLnu7vMDIxNMB7_lo70fxH9RFFB-0Cs/edit)

The question should go at the end of the **Using Licensed Material** section of questions (https://creativecommons.org/faq/#using-licensed-material)

Ple

[2020-07-19 16:40] prasandeep69 commented on #29
Hey, Can i work on this issue ??

[2020-07-23 12:09] kgodey commented on #29
@prasandeep69 this is an old issue that we no longer want to do, since we plan to revamp the FAQs separately. Sorry that it was still marked "help wanted", please find a different issue to work on.

[2020-08-18 16:02] ericsteuer opened #54 "(Easy) French FAQ translation update / change"
On this page: https://creativecommons.org/faq/fr/ at the very bottom is says: "Support for this French translation was provided by Open Data Institute as part of the OD4D program. Translation by Dr Pierre El Khoury (CC Lebanon Legal Lead)."

@Juliabrungs and @peterspdx would like this line of text to be deleted. I'm unable to do it myself because the page is not on Wordpress.

Thanks!

[2020-08-31 14:50] #54 closed

[2020-08-31 14:50] #51 closed

[2021-05-22 13:26] Huy-Ngo opened #58 "[Bug] Dead link for examples in FAQ"
## Description
In the section **How should I decide which license to choose?**, there is a link to examples that demonstrate how various licenses fit into licensors’ overall strategies.

The link is <https://creativecommons.org/examples>, which redirects to <https://creativecommons.org/share-your-work/licensing-types-examples>

## Reproduction

1. Go to <https://creativecommons.org/faq/#how-should

[2021-05-24 03:24] Huy-Ngo commented on #58
Was there an actual list of examples that ended up being removed?

[2021-06-16 14:57] #58 closed

[2021-08-19 19:53] sarahpearson opened #60 "Update two existing FAQ with reference to new resource"
## Description
We have created a new online resource to replace two existing questions in the main FAQ. (This is part of our ongoing gradual effort to make the explanatory resources more discoverable and user-friendly.)

## Requested change
Please replace the existing answers to [What can I do if I offer my material under a Creative Commons license and I do not like the way someone uses it?](https

[2021-08-25 15:42] sarahpearson commented on #60
Yes, but I was assuming we would wait until we had a whole batch of new content before seeking translators. Happy to do it as we go if you prefer! I am not sure how we have handled that in the past.

[2021-11-03 15:29] sarahpearson commented on #60
I checked with Brigitte, and she suggests: _Veuillez consulter le guide What to do if Your CC-Licensed Work is Misused._

[2021-11-22 20:41] #60 closed

[2022-02-26 10:12] fpesari opened #78 "[Feature] Add in FAQ: using music samples released under the CC BY-SA"
## Problem
Recently, on the web, there's been some discussion about compliance with the CC BY-SA in the case of music samples.

This discussion sprung from [this post](http://virtualplaying.com/virtual-playing-orchestra/comment-page-3/#comment-703) (and [related video](https://www.youtube.com/watch?v=xvowEZqgflw)) by popular libre software vlogger @unfa and initially concerned the [Virtual Playing